---
import BlogPost from "../../components/BlogPost.astro";

const meta = {
    title: "Recetas",
    date: "2024-12-03",
    category: "Cocina",
    image: "https://www.elmueble.com/medio/2024/02/23/pollo-curry-manzana_012ed92b_00535188_240223081823_900x900.jpg",
    categoryClass: "bg-sky-100 text-sky-800",
};
---

<BlogPost {meta}>
    <p class="text-lg text-gray-700 mb-6">
    Hay muchas especias que combinan bien con el pollo y el curry es una de ellas.
    El contrapunto lo pone la manzana, que le da un toque fresco, algo dulce y muy interesante.
  </p>

  <div class="mb-6">
    <span class="inline-block bg-yellow-100 text-yellow-800 px-3 py-1 rounded-full font-semibold">
      ⏱ Tiempo: 45 minutos
    </span>
  </div>

  <h2 class="text-2xl font-semibold text-purple-700 mb-2">Ingredientes (para 4 personas)</h2>
  <ul class="list-disc list-inside space-y-1 mb-6">
    <li>800 g de pechugas de pollo en dados</li>
    <li>800 ml de leche de coco</li>
    <li>2 manzanas en dados</li>
    <li>1 cebolla en juliana</li>
    <li>4 cdas. de curry en polvo</li>
    <li>4 cdas. de salsa de tomate</li>
    <li>1 baguette</li>
    <li>Cilantro picado</li>
    <li>Aceite, sal</li>
  </ul>

  <h2 class="text-2xl font-semibold text-purple-700 mb-2">Elaboración</h2>
  <ol class="list-decimal list-inside space-y-4">
    <li>
      <strong>Paso 1:</strong> Empieza dorando el pollo en una sartén a fuego fuerte. Cuando esté dorado,
      baja la intensidad del fuego y rehoga la cebolla hasta que esté transparente.
    </li>
    <li>
      <strong>Paso 2:</strong> Agrega la manzana y el curry y mezcla bien. Incorpora la salsa de tomate y
      deja que cueza durante 3-4 minutos. A continuación añade la leche de coco y guisa a fuego lento 25 minutos.
    </li>
    <li>
      <strong>Paso 3:</strong> Corta el pan en rebanadas finas y tuéstalas. Rectifica el punto de sal del guiso y espolvorea cilantro.
    </li>
  </ol>
</BlogPost>