---

import Layout from '../layouts/Layout.astro';
import Contenedor from '../components/Contenedor.astro';
import Proyecto from '../components/Proyectos.astro';
import Principal from '../components/Principal.astro';
import BlogCard from '../components/BlogCard.astro';
import Title from "../components/TitleSection.astro"
---



<Layout title='Principal'>

	<Contenedor id="principal">
		<Principal/>
	</Contenedor>
	
	<Contenedor id="blog">
		<Title>Blog</Title>
		<BlogCard/>
	
	</Contenedor>

<Contenedor id="proyectos">
	<Title>Proyectos</Title>
	<Proyecto/>
</Contenedor>



</Layout>
