---

---

<footer class="backdrop-blur-sm border-t border-gray-200 mt-24">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="py-12">
        <!-- Menú de navegación -->
        <nav class="flex flex-col items-center space-y-4 sm:space-y-0 sm:flex-row sm:justify-center sm:gap-6">
          <a 
            href="/#" 
            class="text-gray-600 hover:text-sky-700 transition-colors text-sm font-medium"
          >
            Inicio
          </a>
          <a 
            href="/#proyectos" 
            class="text-gray-600 hover:text-sky-700 transition-colors text-sm font-medium"
          >
            Proyectos
          </a>
          <a 
            href="#blog" 
            class="text-gray-600 hover:text-sky-700 transition-colors text-sm font-medium"
          >
            Blog
          </a>
        </nav>
  
        <!-- Derechos de autor -->
        <div class="mt-8 text-center">
          <p class="text-gray-600 text-sm">
            © 2025 Bárbara Gómez. Todos los derechos reservados.<br class="sm:hidden">
            <span class="block sm:inline mb-10 mt-4 sm:mt-0">
              Hecho con <span class="text-red-500">❤️</span> usando Astro
            </span>
          </p>
        </div>
      </div>
    </div>
  </footer>