<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  class="text-sm inline-flex items-center justify-center gap-1 px-2 py-1
    text-fuchsia-950 bg-transparent border border-fuchsia-950/40 rounded-full 
    shadow-sm backdrop-blur-sm transition-all duration-500 
    hover:border-fuchsia-400 hover:bg-fuchsia-400/10 hover:scale-105 
    focus:outline-none focus:ring-2 focus:ring-fuchsia-400/50 focus:ring-offset-2"
>
  <slot />
</a>